<!DOCTYPE html>
<html>

<head>
  <title>Template cloning hrv</title>

  <!-- Viewport mobile tag for sensible mobile support -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Rubik:300,400,500,700">

  <!--
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.

        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->
  <%- include('../snippets/bootstrap.ejs') %>
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/owl.carousel.min.css">
    <!--STYLES END-->
</head>

<body>
  <%- include('../snippets/header.ejs') %>
    <%- include('../snippets/menu.ejs') %>
      <%- body %>

        <!--TEMPLATES-->

        <!--TEMPLATES END-->
        <%- include('../snippets/footer.ejs') %>
          <!--SCRIPTS-->
          <script src="/dependencies/sails.io.js"></script>
          <script src="/js/blugins.js"></script>
          <script src="/js/owl.carousel.min.js"></script>
          <script src="/js/script.js"></script>
          <!--SCRIPTS END-->
</body>

</html>
